@{ Layout = "/Pages/Shared/_Layout.cshtml";}
@using Microsoft.AspNetCore.Http

@section Styles {
    @RenderSection("Styles", required: false)
}

@{ 
    int? customerid = Context.Session.GetInt32("CustomerId");
}

<div class="row">
    <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">CustomerEdit</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link @ManageCustomerPages.CustomerEditNavClass(ViewContext)"
                       asp-page="/Customers/CustomerEdit"
                       asp-route-id="@customerid">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @ManageCustomerPages.CustomerRatesNavClass(ViewContext)"
                        asp-page="/Customers/CustomerRates/CustomerRatesIndex"
                        asp-route-id="@customerid">Rates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @ManageCustomerPages.CustomerPhonesNavClass(ViewContext)"
                       asp-page="/Customers/CustomerPhones/CustomerPhonesIndex"
                       asp-route-id="@customerid">Phones</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}