@page
@{ Layout = "/Pages/Shared/_Layout.cshtml";}
@model awSetup_Razor.Pages.Customers.IndexModel

<h4>Customers</h4>

<p>
    <a asp-page="Create"><i class="far fa-plus-square"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].CustomerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].PrimaryPhone)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Customers[0].TimeZoneOffset)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].FtpfolderPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].FtpuserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Ftppassword)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Customers[0].SendGridApikey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].EmailAddress)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].TwilioAccountSid)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Customers[0].TwilioAuthToken)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td><a asp-page="../MessageTypes/MessageTypeIndex" asp-route-customerid="@item.CustomerId"><i class="fas fa-scroll"></i></a></td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryPhone)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.TimeZoneOffset)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FtpfolderPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FtpuserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ftppassword)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.SendGridApikey)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.TwilioAccountSid)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.TwilioAuthToken)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <a asp-page-handler="Launcher" asp-route-id="@item.CustomerId"><i class="far fa-edit"></i></a>
                    <a asp-page="./CustomerDelete" asp-route-id="@item.CustomerId"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>