@page
@model awSetup_Razor.Pages.Customers.DeleteModel

<h3>Are you sure you want to delete this?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.CustomerName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.CustomerName) [@Html.DisplayFor(model => model.Customers.CustomerCode)]
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.TimeZoneOffset)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.TimeZoneOffset)
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.BillingContact)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.BillingContact)
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.BillingAddress1)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.BillingAddress1)
            <br />
            @Html.DisplayFor(model => model.Customers.BillingAddress2)
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.BillingCity)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.BillingCity) , @Html.DisplayNameFor(model => model.Customers.BillingState) @Html.DisplayFor(model => model.Customers.BillingState) @Html.DisplayFor(model => model.Customers.BillingZip)
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.BillingPhone)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.BillingPhone)
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.BillingEmail)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.BillingEmail)
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.DefaultAreaCode)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.DefaultAreaCode)
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.FtpfolderPath)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.FtpfolderPath)&nbsp;@Html.DisplayNameFor(model => model.Customers.FtpuserName)&nbsp;|&nbsp;@Html.DisplayFor(model => model.Customers.FtpuserName)
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.Ftppassword)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.Ftppassword)
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.SendGridApikey)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.SendGridApikey)
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.EmailAddress)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.EmailAddress)
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.TwilioAccountSid)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.TwilioAccountSid)
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.TwilioAuthToken)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.TwilioAuthToken)
        </dd>
        <dt class="col-sm-2 offset-2">
            @Html.DisplayNameFor(model => model.Customers.Active)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customers.Active)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Customers.CustomerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./CustomerIndex">Back to List</a>
    </form>
</div>