@model List<awSetup_Razor.Models.ScriptActions>
@using Microsoft.AspNetCore.Http

<div class="row">
    <div class="col-10 offset-1">
        <table class="table table-sm" data-url="@Url.Page("ScriptActionsIndex", "TableRefresh", new { id = Context.Session.GetInt32("ScriptId") })">
            <thead>
                <tr>
                    <th>
                        <a class="btn fas fa-plus-square" data-toggle="ajax-modal" data-target="#update-scriptaction"
                           data-url="@Url.Page("ScriptActionsIndex", "ScriptActionsCreate", new { id = Context.Session.GetInt32("ScriptId") })"
                           title="Add Action"></a>
                    </th>
                    <th>
                        @if (Context.Session.GetString("DeliveryTypeCode") == "V")
                        {
                            <b>Key Pressed</b>
                        }
                        else
                        {
                            <b>Reply Expected</b>
                        }
                    </th>
                    <th>
                        <b>Action Code</b>
                    </th>
                    <th>
                        <b>Response Text</b>
                    </th>
                    @if (Context.Session.GetString("DeliveryTypeCode") == "V")
                    {
                        <th>
                            <b>Dial Number</b>
                        </th>
                        <th>
                            <b>Dial Tag</b> &nbsp;(Column in csv file)
                        </th>
                    }
                    <th>
                    </th>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(s => s.Response))
                {
                    <tr>
                        <td>
                            <a class="btn fas fa-edit" data-toggle="ajax-modal" data-target="#update-scriptaction"
                               data-url="@Url.Page("ScriptActionsIndex", "ScriptActionsEdit", new {id = item.ScriptActionId })"
                               title="Edit Action"></a>
                        </td>
                        <td>
                            @item.Response
                        </td>
                        <td>
                            @item.ActionCode
                        </td>
                        <td>
                            @item.ReplyText
                        </td>
                        @if (Context.Session.GetString("DeliveryTypeCode") == "V")
                        {
                            <td>
                                @item.Dial
                            </td>
                            <td>
                                @item.DialTag
                            </td>
                        }
                        <td>
                            <a class="btn fas fa-trash-alt" data-toggle="ajax-modal"
                               data-target="#update-scriptaction"
                               data-url="@Url.Page("ScriptActionsIndex", "ScriptActionsDelete", new {id = item.ScriptActionId })"
                               title="Remove Action"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>