@model List<awSetup_Razor.Models.ScriptTags>

<div class="row">
    <div class="col-10 offset-1">
        <table class="table" data-url="@Url.Page("ScriptTagsIndex", "ScriptTagsTableRefresh", new { scriptid = Model.FirstOrDefault().ScriptId })">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Tag Name
                    </th>
                    <th>
                        Format Code
                    </th>
                    <th>
                        Queue Map
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="btn fas fa-edit" data-toggle="ajax-modal" data-target="#update-scripttag"
                               data-url="@Url.Page("ScriptTagsIndex", "ScriptTagsEdit", new {id = item.ScriptTagId })"
                               title="Edit Tag"></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TagName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormatCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QueueMapCode)
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>