@model List<awSetup_Razor.Models.ScriptSchedules>

<div>
    Schedule
    <div class="row">
        <div class="col-2 offset-2">
            <label class="control-label">Start Time</label>
        </div>
        <div class="col-2">
            <label class="control-label">End Time</label>
        </div>
    </div>
    <div class="form-row" style="padding-top:5px;padding-bottom:5px;background: #a5bccf;">
        <div class="col-2 my-auto">
            <label class="control-label ">Default</label>
        </div>
        <div class="col-2 my-auto">
            <div class="form-group my-auto">
                <input class="form-control" id="DefaultStartTime" type="time" />
            </div>
        </div>
        <div class="col-2 my-auto">
            <div class="form-group my-auto">
                <input class="form-control" id="DefaultEndTime" type="time" />
            </div>
        </div>
        <div class="col-2 my-auto">
            <div class="form-group my-auto">
                <button type="button" title="Copy to active days" onclick="VoiceScheduleCopy(DefaultStartTime.value,DefaultEndTime.value)"><i class="far fa-arrow-alt-circle-down"></i></button>
            </div>
        </div>
    </div>
    @foreach (var item in Model.OrderBy(m => m.Dow))
    {
        <input type="hidden" asp-for="@item.ScriptScheduleId" />
        <div class="form-row" style="padding-top:5px;padding-bottom:5px">
            <div class="col-2 my-auto">
                <div class="custom-control custom-switch">
                    <input type="checkbox" asp-for="@item.DowSwitch" id="@(item.Dow)__DowSwitch" class="custom-control-input" />
                    <label class="custom-control-label" asp-for="@item.DowSwitch" for="@(item.Dow)__DowSwitch">@item.DowLabel</label>
                </div>
            </div>
            <div class="col-2 my-auto">
                <div class="form-group my-auto">
                    <input asp-for="@item.StartTime" id="@(item.Dow)__StartTime" class="form-control" type="time" disabled="@(item.DowSwitch ? null : "disabled")" />
                </div>
            </div>
            <div class="col-2 my-auto">
                <div class="form-group my-auto">
                    <input asp-for="@item.EndTime" id="@(item.Dow)__EndTime" class="form-control" type="time" disabled="@(item.DowSwitch ? null : "disabled")" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-2">
                <span asp-validation-for="@item.StartTime" class="text-danger"></span>
                <span asp-validation-for="@item.EndTime" class="text-danger"></span>
            </div>
        </div>
    }
</div>