@model List<awSetup_Razor.Models.ScriptActions>

<table class="table table-sm" data-url="@Url.Page("ScriptVoiceEdit", "ScriptActionsTableRefresh", new { scriptid = Model.FirstOrDefault().ScriptId })">
    <thead>
        <tr>
            <th>
                <i class="fas fa-plus-square"></i>
            </th>
            <th>
                <b>Key Pressed</b>
            </th>
            <th>
                <b>Action Code</b>
            </th>
            <th>
                <b>Response Text</b>
            </th>
            <th>
                <b>Dial Number</b>
            </th>
            <th>
                <b>Dial Tag</b> &nbsp;(Column in csv file)
            </th>
            <th>
            </th>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(s => s.Response))
        {
            <tr>
                <td>
                    <a class="btn fas fa-edit" data-toggle="ajax-modal" data-target="#edit-scriptaction" data-url="@Url.Page("ScriptVoiceEdit", "ScriptActionsEdit", new {id = item.ScriptActionId })" title="Edit Action"></a>
                </td>
                <td>
                    @item.Response
                </td>
                <td>
                    @item.ActionCode
                </td>
                <td>
                    @item.ReplyText
                </td>
                <td>
                    @item.Dial
                </td>
                <td>
                    @item.DialTag
                </td>
                <td>
                    <a class="btn fas fa-trash-alt" data-toggle="ajax-modal" data-target="#delete-scriptaction" data-url="@Url.Action("ScriptActionsDelete", new {scriptactionsid = item.ScriptActionId })" title="Remove Action"></a>
                </td>
            </tr>
        }
    </tbody>
</table>