@model List<awSetup_Razor.Models.CustomerPhones>
@using Microsoft.AspNetCore.Http

<table class="table" data-url="@Url.Page("CustomerPhonesIndex", "TableRefresh", new { id = Context.Session.GetInt32("CustomerId") })">
    <thead>
        <tr>
            <th>
                <a class="btn fas fa-plus-square" data-toggle="ajax-modal" data-target="#update-customerphones"
                   data-url="@Url.Page("CustomerPhonesIndex", "CustomerPhonesCreate", new {id =  Context.Session.GetInt32("CustomerId")})"
                   title="Add Phone"></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].TwilioPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ForwardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].UnhandledMessage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn fas fa-edit" data-toggle="ajax-modal" data-target="#update-customerphone"
                       data-url="@Url.Page("CustomerPhonesIndex", "CustomerPhonesEdit", new {id = item.CustomerPhoneId })"
                       title="Edit Phone"></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TwilioPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ForwardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnhandledMessage)
                </td>
                <td>
                    <a class="btn fas fa-trash-alt" data-toggle="ajax-modal" data-target="#update-customerphone"
                       data-url="@Url.Page("CustomerPhonesIndex", "CustomerPhonesDelete", new {id = item.CustomerPhoneId })"
                       title="Delete Phone"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
